.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.align-contents{
  display: flex;
  background-color: dodgerblue;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

body{
  height: 100vh;
}

.completed_comp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 900;
  color: white;
  font-size: xx-large;
  background-color: darkorange;
  flex-direction:column
}
.font-adjuster{
  font-size: 75px;
}

@media only screen and (max-width: 900px) {
  .align-contents{
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
  }
  .font-adjuster{
    font-size: xx-large;
  }
  body{
    height: 1000px;
  }
}

@media only screen and (max-width:600px){
  .align-contents > img{
    height: 200px;
    width: 200px;
  } 
}